<div class="footer fixed-footer">
        <div class="footerLinks blue-faded">
                <div class="footerIcons">
                        <a class="icon" href="https://www.facebook.com/MatCitizer"><img src="assets/icons/github.png"
                                        height="22px"></a>
                        <a class="icon" href="https://www.tiktok.com/@matcitizer"><img src="assets/icons/gitlab.png"
                                        height="22px"></a>
                        <a class="icon" href="https://www.instagram.com/matcitizer"><img src="assets/icons/linkedin.png"
                                        height="22px"></a>
                        <a class="icon" href="https://twitter.com/MatCitizer"><img src="assets/icons/zombie.png"
                                        height="22px"></a>
                </div>
                <div class="footerEmail">
                        <div class="icon emailIcon">
                                <a class="email" href="mailto:condatmateo@gmail.com">
                                        <div class="vertical-center">
                                                <img src="assets/icons/email.png" height="22px">
                                        </div>
                                </a>
                        </div>
                        &nbsp;:&nbsp;
                        <input type="text" id="courriel" name="courriel" value="condatmateo@gmail.com"
                                readonly="readonly" class="emailInput" />
                        <button (click)="copyToClipboard()" (mouseenter)="changeBackText()"
                                class="emailButton my-button" id="emailButton">Copy</button>
                </div>
        </div>
        <div class="footerCopyrights blue">
                <p>Copyright © 2023 Matéo Condat ®</p>
        </div>
</div>