<div class="footer fixed-footer">
        <div class="footerLinks blue-faded">
                <div class="footerIcons">
                        <a class="icon" href="https://github.com/MCtzr"><img src="assets/icons/github.png" height="22px"
                                        style="margin-top:4px;"></a>
                        <a class="icon" href="https://gitlab.com/MCtzr"><img src="assets/icons/gitlab.png" height="22px"
                                        style="margin-top:4px;"></a>
                        <a class="icon" href="https://www.linkedin.com/in/mat%C3%A9o-condat-747150236/"><img
                                        src="assets/icons/linkedin.png" height="22px" style="margin-top:4px;"></a>
                        <a class="icon" href=""><img src="assets/icons/zombie.png" height="22px"
                                        style="margin-top:4px;"></a>
                        <div class="footer-item">
                                <a class="icon" href="assets/pdf/CV.pdf">
                                        <div class="vertical-center">
                                                <button class="footer-text my-button" id="cv-button">My
                                                        CV</button>
                                        </div>
                                </a>
                        </div>
                </div>
                <div class="footerEmail">
                        <div class="icon emailIcon">
                                <a class="email" href="mailto:condatmateo@gmail.com">
                                        <img src="assets/icons/email.png" height="22px" style="margin-top:4px;">
                                </a>
                        </div>
                        &nbsp;:&nbsp;
                        <input type="text" id="courriel" name="courriel" value="condatmateo@gmail.com"
                                readonly="readonly" class="emailInput" />
                        <button (click)="copyToClipboard()" (mouseenter)="changeBackText()"
                                class="emailButton my-button" id="emailButton">Copy</button>
                </div>
        </div>
        <div class="footerCopyrights blue">
                <p>Copyright © 2023 Matéo Condat ®</p>
        </div>
</div>