.footer {
    width: 100%;
    height: 158px;
    z-index: 10;
    position: relative;
    backdrop-filter: blur(3px);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
}

.blue {
    background-image: linear-gradient(to bottom, rgba(10, 13, 22, 0.75), rgba(10, 13, 22, 1));
}

.blue-faded {
    background-image: linear-gradient(to bottom, rgba(10, 13, 22, 0.6), rgba(10, 13, 22, 0.75));
}

.fixed-footer {
    position: sticky;
    bottom: -98px;
    left: 0;
    right: 0;
    z-index: 10;
}

.footerLinks,
.footerCopyrights {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerCopyrights {
    height: 98px;
}

.footerLinks {
    height: 60px;
}

.footerIcons,
.footerEmail {
    position: relative;
    display: flex;
}

.footerEmail {
    width: 40%;
    justify-content: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerIcons {
    width: 60%;
    justify-content: right;
    margin-right: 5vw;
}

.icon {
    display: inline-block;
    margin-top: 0;
    margin: 0 5vw;
    padding: 0;
    height: 22px;
    vertical-align: middle;
}

.emailDiv {
    margin-top: 25px;
}

.emailInput {
    width: 270px;
    border: solid 0px;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    text-align: center;
}

.emailButton {
    width: 85px;
    height: 30px;
}

.emailIcon {
    margin: 0;
}

.vertical-center {
    height: 100%;

}


@media screen and (max-width: 1200px) {



    .footerEmail {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .footerIcons {
        width: 100%;
        justify-content: center;
        padding-top: 22.5px;
        padding-bottom: 22.5px;
        margin-left: 0;
    }

    .footerCopyrights {
        height: 46px;
        padding-top: 10px;
    }

    .footerLinks {
        display: block;
        height: 117px;
    }

    .icon {
        margin-right: 8vw;
        margin-left: 8vw;
    }

    .emailIcon {
        margin-left: 0;
        margin-right: 0;
    }


}

@media screen and (max-width: 800px) {
    .fixed-footer {
        position: relative;

    }
}