<app-star-background>

</app-star-background>
<div class="superposedContainer">

    <app-presentation></app-presentation>

    <div [@fadeInOut] class="content" id="content">
        <div class="sticky" id="stickyDiv">

            <div id="context">
                <div class="fadeElm visible" id="first-container">

                    <app-context></app-context>
                </div>
            </div>

            <div class="bg-white" id="experience">
                <h1 class="title white-text text-centered" id="experience-title">Experience</h1>

                <app-career></app-career>
            </div>

            <div class="bg-black" id="projects">
                <h1 class="title black-text text-centered">Projects</h1>

                <app-projects></app-projects>
            </div>

            <div id="skills">
                <h1 class="title white-text text-centered">Skills</h1>

                <app-tab-experience></app-tab-experience>
            </div>
        </div>
    </div>

</div>