#first-container {
    width: var(--experience-width);
    transition: width ease 0.3s;
    min-height: fit-content;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    pointer-events: all;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 870px) {

    #first-container {
        width: 100%;
    }

}

:root {
    --scroll-value: 0px;
    --scroll-value-context: 0px;
    --scroll-value-context-border: 50px;
}

.superposedContainer {
    position: relative;
    width: 100%;
    min-height: 2000px;
    pointer-events: none;
}

.white-block {
    background-color: var(--color-s-3);
    border-radius: 20px;
}

.black-block {
    background-color: var(--color-p-7);
    border-radius: 20px;
}

.dark-text {
    font-family: myTextBold;
}

h3 {
    font-weight: bold;
}

.black-text {
    color: var(--my-black);
}

:root {
    --experience-width: 60%;
}

.sticky {
    display: block;
    position: sticky;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 50vh);
}

.content {
    height: 6000px
}

.container {
    display: block;
    overflow: hidden;
    position: relative;
}



@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 35vw 20vw 35vw;
        grid-auto-rows: 27.5vw;
        grid-column-gap: 2.5vw;
        column-gap: 2.5vw;
        grid-row-gap: 2.5vw;
        row-gap: 2.5vw;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        max-width: 95vw;
    }
}

@media screen and (max-width: 870px) {

    #tab-experience {
        width: 100%;
    }

    .sticky {
        position: relative;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
    }

}