.tab-header {
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    flex-direction: column;
    background-color: var(--my-white);
    filter: drop-shadow(0px 0px 5px var(--color-p-2));
}

.tab-header-elm {
    user-select: none;
    display: grid;
    width: 100%;
    overflow: hidden;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: MyTextBold;
    z-index: 1;
    border-bottom: 1px solid var(--color-p);
}

.tab-header-elm-passive {
    color: var(--my-black);
}

.tab-header-elm-passive::before {
    content: "";
    background-color: var(--color-s-1);
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: scaleX(0.1) scaleY(0.1);
    transform: scaleX(0.1) scaleY(0.1);
    transform-origin: center
}

.tab-header-elm-passive:hover::before {
    cursor: pointer;
    z-index: -1;
    opacity: 1;
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
    transition: all 0.5s cubic-bezier(0.08, 0.35, 0.13, 1.02);
}

.tab-header-elm-passive:hover {
    cursor: pointer;
}

.tab-header-elm-active {
    transition: all 2s cubic-bezier(0.08, 0.35, 0.13, 1.02);
    background-color: var(--color-s-3);
    color: var(--my-black)
}

.skill-content {
    color: var(--my-black);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 5vh 0vw;
}

#tab-experience {
    width: 60%;
    grid-auto-rows: calc(85vh - 60px);
    pointer-events: all;
}

.skill-item {
    border-radius: 100%;
    border: solid 2px var(--color-s-1);
    width: 100px;
    height: 100px;
    margin: 0vw 1vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 1vw;
}

.skill-item img {
    pointer-events: all;
    border-radius: 5px;

}

.skill-item img {
    filter: blur(0); // Définissez la valeur initiale du flou à 0
    transition: opacity 0.3s ease, filter 0.3s ease; // Ajoutez une transition pour une animation fluide
}

.skill-item:hover {
    cursor: grab;
}

.skill-item:hover img {
    filter: blur(2px); // Applique le flou au survol
    opacity: 0.6;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;

}

.skill-content ::ng-deep mat-progress-spinner circle {
    stroke: var(--color-s-3);
}

mat-progress-spinner.spinner {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 870px) {
    #tab-experience {
        width: 100%;
        border-radius: 0px;
    }
}