.all {
    background-color: var(--color-p-8);
    border-radius: 0px;
    border: 2px rgb(255, 255, 255) solid;
    min-width: 250px;
}

.title,
.dialog {
    padding: 2vh 5vw;
    color: white;
    white-space: pre-wrap;
    font-family: 'MyText', sans-serif;
}

.title {
    text-align: center;
    font-size: 32px
}

.cross {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
}

.cross:hover {
    cursor: pointer;
}

.cross:active {
    width: 21px;
}

#dialog-caracteristics {
    display: flex;
    width: 100%;
}

a {
    color: var(--color-p);
}

@media screen and (max-width: 600px) {
    #dialog-caracteristics {
        flex-direction: column;
    }

    .dialog {
        text-align: left;
    }
}

.sub-block-caracteristics {
    display: flex;
    flex-direction: column;
}