<div class="all">

    <h2 mat-dialog-title class="title">{{name}}</h2>

    <mat-dialog-content>
        <br>
        <div class="dialog-container">
            <p class="dialog-title"><b>Collaborators : </b></p>
            <p class="dialog">{{collaborators}}</p>
        </div>
        <div id="dialog-caracteristics">

            <div class="sub-block-caracteristics">
                <div>
                    <div class="dialog-container">
                        <p class="dialog-title"><b>Duration: </b></p>
                        <p class="dialog">{{duration}}</p>
                    </div>
                </div>
                <div>
                    <div class="dialog-container">
                        <p class="dialog-title"><b>End date: </b></p>
                        <p class="dialog">{{endDate}}</p>
                    </div>
                </div>
            </div>
            <div class="sub-block-caracteristics">
                <div>
                    <div class="dialog-container">
                        <p class="dialog-title"><b>Skills Applied: </b></p>
                        <p class="dialog">{{skills}}</p>
                    </div>
                </div>
                <div>
                    <div class="dialog-container">
                        <p class="dialog-title"><b>Tools: </b></p>
                        <p class="dialog">{{tools}}</p>
                    </div>
                </div>
            </div>


        </div>

        <p class="dialog-container">{{content}}</p>

        <p class="dialog-container"><a class="button" *ngIf="link" [href]="link">See more</a></p>
    </mat-dialog-content>

    <img class="cross" src="assets/icons/cross.png" (click)="close()" />
</div>