<div class="grid-container">
    <div class="black-block tile-2-2 tile fadeElm dark-text" id="capgemini-project">
        <h2>P&O</h2>
        <h3>Data management web app for Capgemini</h3>
    </div>

    <div class="black-block tile-1-1 tile fadeElm" id="GL02-project">

    </div>

    <div class="black-block tile-1-1 tile fadeElm" id="distory-project">

    </div>

    <div class="black-block tile-1-1 tile fadeElm" id="LO10-project">
        <h2>ArtMatch</h2>
        <h3>User data management</h3>
    </div>

    <div class="black-block tile-2-2 tile fadeElm" id="zombie-project">
        <img src="assets/img/Zombie/coverLogo.png" alt="zombie-logo" class="zombie-logo" />
    </div>

    <div class="black-block tile-1-1 tile fadeElm" id="fractal-project">
        <h2>Mandelbrot</h2>
        <h3>Fractal generator</h3>
    </div>
</div>