.grid-container {
    display: grid;
    grid-template-columns: 350px 200px 350px;
    grid-auto-rows: 35vh;
    grid-column-gap: 2vh;
    column-gap: 2vh;
    grid-row-gap: 2vh;
    row-gap: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    max-width: 950px;
}


.tab {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-auto-rows: 65vh;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--my-white);
    border-radius: 20px;
    overflow: hidden;
}

.bg-black {
    background-color: var(--color-s-1);
}

.bg-white {
    background-color: var(--color-p-7);
}

.tile {
    display: grid;
    text-align: center;
    padding: 30px;
}

.tile-2-2 {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
}

.tile-3-3 {
    grid-column: auto/span 3;
    grid-row: auto/span 3;
}

.tile-3-2 {
    grid-column: auto/span 3;
    grid-row: auto/span 2;
}

.tile-1-1 {
    grid-column: auto;
    grid-row: auto;
}

.tile-1-2 {
    grid-column: auto;
    grid-row: auto/span 2;
}

.tile-2-1 {
    grid-column: auto/span 2;
    grid-row: auto;
}

.title {
    font-size: 5em;
    font-family: title;
    margin: 0;
    line-height: 15vh;
    margin-left: auto;
    margin-right: auto;
}

.white-text {
    color: var(--color-s-1);
}

.black-text {
    color: var(--color-p-7);
}

.text-centered {
    text-align: center;
}

.content-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-centered-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {

    .grid-container {
        width: fit-content;
        grid-template-columns: 35vw 20vw 35vw;
        grid-auto-rows: 30vw;
    }

    .title {
        font-size: 4em;
    }
}

@media screen and (max-width: 600px) {

    .grid-container {
        grid-template-columns: 45vw 45vw;
        grid-auto-rows: 45vw;
    }

    .title {
        font-size: 3em;
    }
}