.context-container {
    width: 100%;
    transition: width ease 0.3s;
    height: 100vh;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    pointer-events: all;
    background-color: var(--color-s-1);
    overflow: hidden;
}

.context-text-container {
    padding: 60px 60px;
    transform: translateX(calc(var(--scroll-value-context)*(-1)));
    transition: all 0.3s ease;
    height: 100%;
    align-items: center;
}

.context-img-container {
    padding: 60px 60px;
    height: 100%;
    transition: all 0.2s ease;
    transform: translateX(var(--scroll-value-context));
}

.context-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

.context-container p {
    color: var(--color-p-7);
    font-family: MyTextBold;
    text-align: justify;
}

#utt-img {}