<div class="context-container">

    <h1 class="title black-text text-centered">{{ 'header.context' | translate }}</h1>
    <div class="context-grid">

        <div class="tile-1-1 context-text-container content-centered">
            <p>
                {{ 'context.description.p1' | translate }}
                
                <br><br>
                
                {{ 'context.description.p2' | translate }}
                
                <br><br>
                
                {{ 'context.description.p3' | translate }}
            </p>
        </div>
        <div class="tile-1-1 content-centered context-img-container">
            <img src="assets/img/UTT.png" alt="utt" id="utt-img">
        </div>
    </div>

    <div class="source-container">
        <div class="source-icon"><a href="https://angular.io/"><img src="assets/icons/angular.png" alt="angular"
                    width="42px" height="42px">
                <p>Angular</p>
            </a></div>
        <div class="source-icon"><a href="https://threejs.org/"><img src="assets/icons/threeJS.png" alt="threeJS"
                    width="40px" height="40px">
                <p>Three.js</p>
            </a></div>
        <div class="source-icon"><a href="https://www.flaticon.com/"><img src="assets/icons/flaticon.png" alt="flaticon"
                    width="40px" height="40px">
                <p>Flaticon</p>
            </a></div>
        <div class="source-icon"><a href="https://github.com/MCtzr/Portfolio"><img src="assets/icons/github.png"
                    alt="flaticon" width="40px" height="40px">
                <p>GitHub&nbsp;Pages</p>
            </a></div>
    </div>
</div>