<div class="context-container">

    <h1 class="title black-text text-centered">Context</h1>
    <div class="context-grid">

        <div class="tile-1-1 context-text-container content-centered">
            <p>Hi, my name is Matéo Condat, I'm a french engineer graduated from the University of Technology of Troyes
                in a
                software
                development branch.<br><br>

                This platform is my portfolio, containing a presentation of my career, my skills, and above all, the
                projects
                I
                was led to do since the beginning of my studies. These ones could be scolar (web app development for
                example),
                or personnal (computer assisted music, simulations...).<br><br>

                To realize this web portfolio, I've mostly used the Web Framework AngularTS and made all the design with
                pure
                SCSS. The space background has been realized with Three.js. Finally, the icons has been taken on
                flaticon.
            </p>
        </div>
        <div class="tile-1-1 content-centered context-img-container">
            <img src="assets/img/UTT.png" alt="utt" width="100%" id="utt-img">
        </div>
    </div>
</div>