<div id="presentation">
    <div [@fadeInOut] class="grid-container-presentation">
        <div class="tile-2-2-presentation content-centered">
            <img [@fadeInOut] class="personnal-picture fadeElm" src="assets/img/me.png" alt="MyPicture">
        </div>
        <div class="presentation tile-3-2-presentation fadeElm">
            <div class="flex">
                <h1 class="name">{{ 'presentation.first-name' | translate }}</h1>
                <h1 class="surname">&nbsp;{{ 'presentation.last-name' | translate }}</h1>
            </div>

            <h2 class="subtitle">{{ 'presentation.subtitle' | translate }}</h2>

            <p class="pitch">{{ 'presentation.pitch' | translate }}</p>
        </div>
    </div>
</div>