<div id="presentation">
    <div [@fadeInOut] class="grid-container-presentation">
        <div class="tile-2-2-presentation content-centered">
            <img [@fadeInOut] class="personnal-picture fadeElm" src="assets/img/distory.png" alt="MyPicture">
        </div>
        <div class="presentation tile-3-2-presentation fadeElm">
            <div class="flex">
                <h1 class="name">Matéo</h1>
                <h1 class="surname">&nbsp;CONDAT</h1>
            </div>

            <h2 class="subtitle">Software Engineer</h2>

            <p class="pitch">I'm a student at the end of my software engineering formation at the University of
                Technology of Troyes.</p>
        </div>
    </div>
</div>