* {
    box-sizing: border-box;
}

.timeline {
    background-color: var(--color-p-7);
    pointer-events: all;
    overflow: visible;
    width: fit-content;
}

.timeline-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 500px 200px 800px;
    grid-auto-rows: 1650px;
    grid-column-gap: 0vh;
    column-gap: 0vh;
    grid-row-gap: 0vh;
    row-gap: 0vh;
    min-height: fit-content;
}

.curve-grid {
    background-color: var(--color-p-8);
    display: grid;
    grid-template-columns: 500px;
    grid-auto-rows: 150px;
    grid-column-gap: 0vh;
    column-gap: 0vh;
    grid-row-gap: 0vh;
    row-gap: 0vh;
    min-height: fit-content;
}

svg {
    overflow: visible;
}

.content-background {
    background-color: var(--color-p-7);
    position: relative;
    height: 1650px;
    width: calc(100vw - 800px);
    z-index: 0;
    overflow: visible;
}

.background-content-curve {
    float: left;
    z-index: 20;
    background-color: none;
    overflow: visible;
    background-color: var(--color-p-8);
}

.no-point {
    z-index: -10;
    pointer-events: none;
    overflow: hidden;
}

.curve {
    transition: d 0.2s ease;
}

.cercle {
    transition: all 0.2s ease;
}

.icon-cercle:hover {
    cursor: pointer;
}

.cercle-active {
    fill: var(--color-s-3);
    r: 55px;
}

.cercle-passive {
    z-index: 0;
    fill: var(--color-p-8);
    r: 45px;
    position: relative;
}

.overlay {
    fill: var(--color-p-6);
    r: 0px;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.08, 0.35, 0.13, 1.02);
}

.icon-cercle:hover .overlay {
    transform: scale(1);
    opacity: 0.2;
    r: 41.5px;
    fill: var(--color-s-3);
}

.bg-7 {
    background-color: var(--color-p-7);
}


/* Animation pour les éléments qui apparaissent */
.content-element-active {
    animation: slideInLeft 0.5s ease-in-out forwards;
}

/* Animation pour les éléments qui disparaissent */
.content-element-passive {
    animation: slideOutRight 0.5s ease-in-out forwards;
}

.content-element {
    width: 800px;
    background-color: var(--color-s-1);
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 460px;
    overflow: hidden;
}

.content-element h2 {
    font-size: 1.75em;
    font-family: TitleBold;
}

.order-3 {
    order: 3;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.career-content-grid {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 0% 50%;
    grid-auto-rows: auto;
    grid-column-gap: 0vh;
    column-gap: 0vh;
    grid-row-gap: 0vh;
    row-gap: 0vh;
    min-height: fit-content;
}

.career-content-text {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 10%;
    pointer-events: all;
    z-index: 5;
}

.career-content-img {
    border-radius: 20px;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.visit-card-design {
    position: absolute;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


.cross-div {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 50px;
    display: flex;
}

.cross-character {
    text-align: center;
    width: 30px;
    line-height: 50px;
    pointer-events: all;
    user-select: none;
    z-index: 20;
    font-size: 2em;
    color: var(--color-p-8);
    margin: 0;
    transition: color 0.2s ease;
}

.cross-character:hover {
    cursor: pointer;
    color: var(--color-s);
}

.cross-character:active {
    font-size: 1.7em;
    color: var(--color-s);
}



@media screen and (max-width: 1500px) {

    .content-background {
        margin-left: -700px;
        width: 100vw;
        background: none;
        pointer-events: none;
        display: flex;
        justify-content: center;
    }

    .content-element {
        pointer-events: all;

    }


}

@media screen and (max-width: 900px) {
    .content-element {
        width: 90vw;
        height: calc(90vw * 9/16);
    }
}

@media screen and (max-width: 800px) {
    .background-content-curve {
        display: none;
    }

    .timeline {
        background-color: var(--color-p-8);
    }

    .bg-white {
        background-color: var(--color-p-8);
    }

    .timeline-grid {
        grid-template-columns: 800px 0px calc(100vw - 800px);
        grid-auto-rows: 1650px;
        grid-column-gap: 0vh;
        column-gap: 0vh;
        grid-row-gap: 0vh;
        row-gap: 0vh;
        min-height: fit-content;
    }

    .content-background {
        margin-left: -800px;
    }

    .curve-grid {
        background-color: var(--color-p-8);
        display: grid;
        grid-template-columns: 100vw;
        grid-auto-rows: calc(100vw * 150px / 500px);
    }

    .timeline-grid {
        grid-auto-rows: 100%;
    }
}

@media screen and (max-width: 500px) {
    .curve-grid {
        background-color: var(--color-p-8);
        display: grid;
        grid-template-columns: 100vw;
        grid-auto-rows: calc(100vw * 150px / 500px);
    }
}