#SpaceBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: all;
    background-image: radial-gradient(var(--color-p-7), var(--color-p-8));
}